---
import Tablero from '@/components/Tablero';
import Layout from '../../layouts/Layout.astro';

const tituloTablero = Astro.url.pathname.split('/')[2]

---

<Layout title="Pinterest">
	<main class="w-full my-10">
        <div class="space-y-4">
			
			<div class="flex gap-2 justify-center">
				<h3 class="text-3xl font-medium text-center text-gray-800">{tituloTablero === 'favorites' ? 'Todos los Pines' : tituloTablero}</h3>
				<button class='bg-gray-200/80 hover:bg-gray-200 transition-colors w-8 h-8 rounded-full'>
					<svg class='w-4 mx-auto' xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M8 256a56 56 0 1 1 112 0A56 56 0 1 1 8 256zm160 0a56 56 0 1 1 112 0 56 56 0 1 1 -112 0zm216-56a56 56 0 1 1 0 112 56 56 0 1 1 0-112z"/></svg>
				</button>
			</div>
      
            <div class="w-full mx-auto rounded-full flex justify-center -space-x-5 cursor-pointer hover:brightness-90 transition-all duration-300">
                <img class="rounded-full w-12"  src="/imgs/perfil.jpg" alt="Imagen de perfil">

				<div class="rounded-full flex items-center justify-center w-12 relative bg-white">
					<div class="w-[42px] h-[42px] rounded-full bg-gray-200 flex justify-center items-center text-gra-800">
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-plus" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
					</div>
				</div>
            </div>

            <div class="flex justify-center gap-4 mt-10">
				<div class="grid justify-center ">
					<div class="w-20 h-20 bg-gray-200 flex justify-center items-center rounded-lg hover:brightness-90 transition-all duration-300 cursor-pointer">
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-stars-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17.657 12.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.895l1.708 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.325 -1.891l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.907 -.278l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.773l-.143 .007z" stroke-width="0" fill="currentColor" /><path d="M6.057 12.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.895l1.708 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.324 -1.891l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.908 -.279l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.772l-.143 .007z" stroke-width="0" fill="currentColor" /><path d="M11.857 2.007a1.39 1.39 0 0 0 -1.103 .765l-.855 1.723l-1.907 .277c-.52 .072 -.96 .44 -1.124 .944l-.038 .14c-.1 .465 .046 .954 .393 1.29l1.377 1.337l-.326 1.892a1.393 1.393 0 0 0 2.018 1.465l1.708 -.894l1.709 .896a1.388 1.388 0 0 0 1.462 -.105l.112 -.09a1.39 1.39 0 0 0 .442 -1.272l-.325 -1.892l1.38 -1.339c.38 -.371 .516 -.924 .352 -1.427l-.051 -.134a1.39 1.39 0 0 0 -1.073 -.81l-1.908 -.279l-.853 -1.722a1.393 1.393 0 0 0 -1.247 -.772l-.143 .007z" stroke-width="0" fill="currentColor" /></svg>
					</div>
					<p class="text-center text-xs py-2">Más ideas</p> 
				</div>

                <div class="grid justify-center ">
					<div class="w-20 h-20 bg-gray-200 flex justify-center items-center rounded-lg hover:brightness-90 transition-all duration-300 cursor-pointer">
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-rounded" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 3c7.2 0 9 1.8 9 9s-1.8 9 -9 9s-9 -1.8 -9 -9s1.8 -9 9 -9z" /></svg>
						<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-square-rounded-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 2c-.218 0 -.432 .002 -.642 .005l-.616 .017l-.299 .013l-.579 .034l-.553 .046c-4.785 .464 -6.732 2.411 -7.196 7.196l-.046 .553l-.034 .579c-.005 .098 -.01 .198 -.013 .299l-.017 .616l-.004 .318l-.001 .324c0 .218 .002 .432 .005 .642l.017 .616l.013 .299l.034 .579l.046 .553c.464 4.785 2.411 6.732 7.196 7.196l.553 .046l.579 .034c.098 .005 .198 .01 .299 .013l.616 .017l.642 .005l.642 -.005l.616 -.017l.299 -.013l.579 -.034l.553 -.046c4.785 -.464 6.732 -2.411 7.196 -7.196l.046 -.553l.034 -.579c.005 -.098 .01 -.198 .013 -.299l.017 -.616l.005 -.642l-.005 -.642l-.017 -.616l-.013 -.299l-.034 -.579l-.046 -.553c-.464 -4.785 -2.411 -6.732 -7.196 -7.196l-.553 -.046l-.579 -.034a28.058 28.058 0 0 0 -.299 -.013l-.616 -.017l-.318 -.004l-.324 -.001z" stroke-width="0" fill="currentColor" /></svg>
					</div>
					<p class="text-center text-xs py-2">Organizar</p> 
				</div>
            </div>

			<>
				<Tablero tablero={tituloTablero} client:only />
			</>
        </div>
	</main>
</Layout>

<style is:global>
	/* .contenedor {
		width: 1400px;
		margin: 20px auto;
		columns: 8;
		column-gap: 40px;
	}

	.contenedor .box {
		width: 100%;
		margin-bottom: 10px;
	}
	.contenedor .box img {
		max-width: 100%;
		border-radius: 15px;
	} */
</style>
